---
import GitHub from "./iconos/GitHub.astro";

const { imagen, imageSize, imagePadding, descriptionPadding, href, buttonPadding  } = Astro.props;
---

<div class="flex flex-col border-gray-200 dark:border-gray-700 dark:bg-transparent shadow-lg shadow-pink-200 border rounded-lg max-w-xs scale-90">
    <div class="flex items-center p-4">
      <div class="flex-shrink-0">
        <a href="#">
          <img 
            src={imagen} 
            alt="Project Image" 
            class={`rounded-t-lg lg  object-cover ${imageSize} ${imagePadding}`} 
          />
        </a>
      </div>
      <a href="#" class="ml-4">
        <h5 class="font-bold text-lg dark:text-neutral-300 tracking-tight">
          <slot />
        </h5>
      </a>
    </div>
    <div class="p-4">
      <p class={`mb-3 text-justify text-sm dark:text-neutral-300 ${descriptionPadding}`}>
        <slot name="description" />
      </p>
      <a 
    href={href} 
    class={`inline-flex items-center text-gray-600 dark:text-neutral-300 rounded-lg ring-gray-800 text-center text-sm focus:outline-none ${buttonPadding}`}
>
    <GitHub></GitHub>
    Repository
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
</a>
    </div>
  </div>
  